body {
    background-image: url("../images/background-brick.jpg");
    background-color: rgb(10, 4, 31);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

h1 {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

img {
    border-radius: 50%;
  }